body {
    background-color: #424242;
    font-family: 'Poppins', sans-serif;
    

}
h1 {
    color: aqua;
    stroke: black;
    font: Poppins;
    font-size: 3em;
    font-weight: bold;

    
}

a {
    text-decoration: none;
    color: #00c3ff;
}

hr {
    opacity: 0;
}

.description {
    color: aquamarine;
    
}

.devs {
    color: lightblue;
}

#center {
    text-align: center;
}